@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>Are you sure you want to delete this? </h3>
<hr />
<dd>
  @Html.DisplayFor(model => model.Name)
</dd>

@using (Html.BeginForm())
{
  <tr>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Delete" class="btn btn-default" />
      </div>
    </div>
  </tr>
}
<p>
  @Html.ActionLink("Back to list", "Index")
</p>